<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/style.css">
	<title>ASP.NET</title>
</head>

<body>
	<section id="page">
		<header>
			<div class="subgrid">
				<div>
					<img src="img/logo.png" alt="">
				</div>
				<div>
					<h1>ASP.NET</h1>
					<hr>

					<p>Матеріал з Вікіпедії — вільної енциклопедії.</p>
				</div>
			</div>
		</header>

		<aside>
			<nav id="navigation">
				<h3>
					<span>Навігація</span>
				</h3>
				<div class="menu-content">
					<ul>
						<li><a href="#"
								title="Перейти на головну сторінку [z]" accesskey="z">Головна сторінка</a></li>
						<li><a href="#"
								title="Список поточних подій">Поточні події</a></li>
						<li><a href="#"
								title="Список останніх змін у цій вікі [r]" accesskey="r">Нові редагування</a></li>
						<li><a
								href="#">Нові
								сторінки</a></li>
						<li id="n-randompage"><a
								href="#"
								title="Переглянути випадкову сторінку [x]" accesskey="x">Випадкова стаття</a></li>
					</ul>

				</div>
			</nav>

			<nav id="p-Участь">
				<h3>
					<span>Участь</span>
				</h3>
				<div class="menu-content">
					<ul>
						<li><a href="#"
								title="Про проект, про те, що Ви можете зробити, і що де шукати">Портал спільноти</a>
						</li>
						<li><a href="#"
								title="Місце для обговорення більшості питань">Кнайпа</a></li>
						<li><a href="#"
								title="Довідка з проекту">Довідка</a></li>
						<li><a href="//donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&amp;utm_medium=sidebar&amp;utm_campaign=C13_uk.wikipedia.org&amp;uselang=uk"
								title="Підтримайте проект">Пожертвувати</a></li>
								<li><a href="../Author/author.html"
									title="Про автора">Про автора</a>
							</li>
					</ul>
				</div>
			</nav>
			<nav id="p-tb">
				<h3>
					<span>Інструменти</span>
				</h3>
				<div class="menu-content">
					<ul>
						<li><a href="#"
								title="Перелік усіх сторінок, які посилаються на цю сторінку [j]"
								accesskey="j">Посилання сюди</a></li>
						<li><a href="#"
								rel="nofollow" title="Останні зміни на сторінках, на які посилається ця сторінка [k]"
								accesskey="k">Пов'язані редагування</a></li>
						<li><a href="#"
								title="Перелік спеціальних сторінок [q]" accesskey="q">Спеціальні сторінки</a></li>
						<li><a href="#"
								title="Постійне посилання на цю версію сторінки">Постійне посилання</a></li>
						<li><a href="#"
								title="Додаткові відомості про цю сторінку">Інформація про сторінку</a></li>
						<li><a href="#"
								title="Інформація про те, як цитувати цю сторінку">Цитувати сторінку</a></li>
						<li><a href="#"
								title="Посилання на пов’язаний елемент сховища даних [g]" accesskey="g">Елемент
								Вікіданих</a></li>
					</ul>

				</div>
			</nav>
			<nav id="p-coll-print_export">
				<h3>
					<span>Друк/експорт</span>
				</h3>
				<div class="menu-content">
					<ul>
						<li><a
								href="">Створити
								книгу</a></li>
						<li><a
								href="">Завантажити
								як PDF</a></li>
						<li><a href=""
								title="Версія цієї сторінки для друку [p]" accesskey="p">Версія до друку</a></li>
					</ul>

				</div>
			</nav>
		</aside>

		<main>
			<div class="subgrid">
				<div>
					<dl>
						<dt><b>ASP.NET</b></dt>
						<dd>
							<p>— технологія створення <a
									href="/wiki/%D0%92%D0%B5%D0%B1-%D0%B7%D0%B0%D1%81%D1%82%D0%BE%D1%81%D1%83%D0%BD%D0%BE%D0%BA"
									title="Вебзастосунок (часом називають веб-додаток) — розподілений застосунок, в якому клієнтом виступає браузер, а сервером — вебсервер. Браузер може бути реалізацією так званих тонких клієнтів — логіка застосунку зосереджується на сервері, а функція браузера полягає переважно у відображенні інформації, завантаженої мережею з сервера, і передачі назад даних користувача. Однією з переваг такого підходу є той факт, що клієнти не залежать від конкретної операційної системи користувача, тому вебзастосунки є міжплатформовими сервісами. Унаслідок цієї універсальності і відносної простоти розробки вебзастосунки стали широко популярними в кінці 1990-х — початку 2000-х років.
								"">веб-застосунків</a> і <a href="/wiki/%D0%92%D0%B5%D0%B1-%D1%81%D0%B5%D1%80%D0%B2%D1%96%D1%81" title="Вебслужба, вебсервіс — програмна система, що ідентифікується URI, і публічні інтерфейси та прив'язки якої визначені та описані мовою XML. Опис цієї програмної системи може бути знайдено іншими програмними системами, які можуть взаємодіяти з нею відповідно до цього опису з використанням повідомлень, що базуються на XML та передаються за допомогою інтернет-протоколів.
								">веб-сервісів</a> від компанії <a href="/wiki/%D0%9C%D0%B0%D0%B9%D0%BA%D1%80%D0%BE%D1%81%D0%BE%D1%84%D1%82"
									title="Корпорація Майкрософт  — багатонаціональна корпорація комп'ютерних технологій зі 124 тис. працівників у 102 країнах, є найбільшою у світі компанією — виробником програмного забезпечення. Головний офіс розташований у корпоративному кампусі в Редмонді, штат Вашингтон.
								">Майкрософт</a>. Вона є
								складовою частиною платформи <a href="/wiki/Microsoft.NET" title=".NET Framework — програмна технологія, запропонована фірмою Microsoft як платформа для створення як звичайних програм, так і веб-застосунків. Багато в чому є продовженням ідей та принципів, покладених в технологію Java. Однією з ідей .NET є сумісність служб, написаних різними мовами. Хоча ця можливість рекламується Microsoft як перевага .NET, платформа Java має таку саму можливість.
								">Microsoft.NET</a> і розвитком старішої технології <a href="/wiki/Active_Server_Pages" title="Active Server Pages — це технологія від компанії Microsoft, що дозволяє динамічно формувати автоматично оновлювані веб-сторінки з боку веб-сервера. Технологія подається у формі додатку до веб-сервера Internet Information Services (IIS).
								">Microsoft ASP</a>. На цей час останньою версією цієї технології є ASP.NET Core 2.0</p>
							<p>ASP.NET зовні багато в чому зберігає схожість із старішою технологією ASP, що дозволяє
								розробникам відносно легко перейти на ASP.NET. У той же час внутрішній устрій ASP.NET
								істотно відрізняється від ASP, оскільки вона заснована на платформі. NET і, отже,
								використовує всі нові можливості, що надаються цією платформою.</p>
						</dd>
					</dl>
					<table class="Content">
						<tr>
							<td>
								<h4>Зміст</h4>
								<details open>
									<summary>[cховати]</summary>
									<ol>
										<a href="#Історія_ASP.NET">
											<li>Історія ASP.NET</li>
										</a>

										<a href="#Характеристики ASP.NET">
											<li>Характеристики ASP.NET
												<ol>
													<a href="#Code-behind model (код поза моделлю)">
														<li>Code-behind model (код поза моделлю)</li>
													</a>
													<a href="#Директиви">
														<li>Директиви</li>
													</a>
													<a href="#Користувацький елемент керування">
														<li>Користувацький елемент керування</li>
													</a>
													<a href="#Спеціальні елементи керування">
														<li>Спеціальні елементи керування</li>
													</a>
													<a href="#Техніка рендерингу">
														<li>Техніка рендерингу</li>
													</a>
												</ol>
											</li>
										</a>
										<a href="#Принципи ASP.NET">
											<li>Принципи ASP.NET</li>
										</a>
										<a href="#Переваги ASP.NET">
											<li>Переваги ASP.NET
												<ol>
													<a href="#Розширення">
														<li>Розширення</li>
													</a>
												</ol>
											</li>
										</a>
										<a href="#Див. також">
											<li>Див. також</li>
										</a>
										<a href="#Примітки">
											<li>Примітки</li>
										</a>
										<a href="#Література">
											<li>Література</li>
										</a>
									</ol>
							</td>
						</tr>
						</details>
					</table>
				</div>
				<div>
					<table>
						<caption>ASP.NET</caption>
						<colgroup>
							<col>
							<col>
						</colgroup>
						<tr>
							<th>Тип</th>
							<td><a href="https://uk.wikipedia.org/wiki/%D0%92%D0%B5%D0%B1-%D1%84%D1%80%D0%B5%D0%B9%D0%BC%D0%B2%D0%BE%D1%80%D0%BA"
									title="Каркас вебзастосунків, вебфреймворк — програмний каркас, призначений для створення вебзастосунків, служб або ресурсів. Він спрощує розробку, частково за рахунок автоматизації, і позбавляє від необхідності написання рутинного коду. Більшість каркасів спрощують доступ до баз даних, також зменшують дублювання коду.
								">Веб-фреймворк</a></td>
						</tr>
						<tr>
							<th>Розробник</th>
							<td><a href="https://uk.wikipedia.org/wiki/Microsoft" title="Корпорація Майкрософт  — багатонаціональна корпорація комп'ютерних технологій зі 124 тис. працівників у 102 країнах, є найбільшою у світі компанією — виробником програмного забезпечення. Головний офіс розташований у корпоративному кампусі в Редмонді, штат Вашингтон.
								">Microsoft</a></td>
						</tr>
						<tr>
							<th>Перший випуск</th>
							<td><a href="https://uk.wikipedia.org/wiki/5_%D1%81%D1%96%D1%87%D0%BD%D1%8F" title="5 січня — 5-й день року в григоріанському календарі. До кінця року залишається 360 дні.
								">5 січня</a>, <a href="https://uk.wikipedia.org/wiki/2002">2002</a>; 18 років тому</td>
						</tr>
						<tr>
							<th>Стабільний випуск</th>
							<td>4.7.1 (<a href="https://uk.wikipedia.org/wiki/17_%D0%B6%D0%BE%D0%B2%D1%82%D0%BD%D1%8F"
									title="17 жовтня — 290-й день року за григоріанським календарем. До кінця року залишається 75 днів.
								">17 жовтня</a>, <a href="https://uk.wikipedia.org/wiki/2017" title="2017 рік — рік, що почався у неділю за григоріанським календарем. 2017 рік нашої ери, 17-й рік III тисячоліття та XXI століття, 7-й рік 2-ї декади XXI століття, а також восьмий рік 2010-х років.
								">2017</a>; 2 роки тому<sup><a href=" https://uk.wikipedia.org/wiki/ASP.NET#cite_note-1"
										title="Announcing the .NET Framework 4.7.1">[1]</a></sup>)</td>
						</tr>
						<tr>
							<th>Версії</th>
							<td>4.8 (квітень <a href="https://uk.wikipedia.org/wiki/2019" title="2019 (MMXIX) — невисокосний рік, що почався у вівторок за григоріанським календарем. Згідно із китайським календарем — рік Жовтої Земляної Свині.
								">2019</a>)</td>
						</tr>
						<tr>
							<th><a href="https://uk.wikipedia.org/wiki/%D0%9E%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D1%96%D0%B9%D0%BD%D0%B0_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0"
									title="Операці́йна систе́ма, скорочено ОС — це базовий комплекс програм, що виконує керування апаратною складовою комп'ютера або віртуальної машини; забезпечує керування обчислювальним процесом і організовує взаємодію з користувачем.">Операційна
									система</a></th>
							<td><a href="https://uk.wikipedia.org/wiki/Microsoft_Windows" title="Windows — узагальнююча назва операційних систем для комп'ютерів, розроблених корпорацією Microsoft.
								">Microsoft Windows</a>, <a href="https://uk.wikipedia.org/wiki/Linux"
									title="Лі́нукс — загальна назва UNIX-подібних операційних систем на основі однойменного ядра. Це один із найвидатніших прикладів розробки вільного (free) та відкритого програмного забезпечення (software). На відміну від власницьких операційних систем, їхні вихідні коди доступні всім для використання, зміни та поширення абсолютно вільно.">Linux</a>,
								<a href="https://uk.wikipedia.org/wiki/MacOS" title="macOS — серія пропрієтарних графічних операційних систем корпорації Apple Inc. Перший випуск відбувся у 2001 році. Є спадкоємицею Mac OS 9 — так званого остаточного релізу «класичної» Mac OS — основної операційної системи корпорації Apple з 1984 року. OS X входить в сімейство операційних систем Apple OS X, до якого також належить ОС для мобільних пристроїв — iOS. У macOS використовується ядро Darwin, засноване на мікроядрі Mach, що містить код, написаний самою компанією Apple та код, отриманий з ОС NeXTSTEP та FreeBSD. Apple macOS випускається для комп'ютерів Macintosh (Макінтош) на базі процесорів PowerPC та Intel macOS підтримує тільки комп'ютери Mac на базі процесора Intel. Mac OS — друга за популярністю у світі операційна система. Її ринкова частка в червні 2010 року — ▲ 6,8%.
								">macOS</a></td>
						</tr>
						<tr>
							<th><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B2%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F"
									title="Мо́ва програмува́ння — це штучна мова, створена для передачі команд машинам, зокрема комп'ютерам. Мови програмування використовуються для створення програм, котрі контролюють поведінку машин, та запису алгоритмів.
								">Написано на</a></th>
							<td><a
									href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_CLI_%D0%BC%D0%BE%D0%B2">.NET
									мови</a></td>
						</tr>
						<tr>
							<th><a href="https://uk.wikipedia.org/wiki/%D0%9B%D1%96%D1%86%D0%B5%D0%BD%D0%B7%D1%96%D1%8F_%D0%BD%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BD%D0%B5_%D0%B7%D0%B0%D0%B1%D0%B5%D0%B7%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D1%8F"
									title="Ліцензія на програмне забезпечення, також Ліце́нзія на використа́ння програ́много забезпе́чення — угода, яка надає право використовувати програмне забезпечення.
								">Ліцензія</a></th>
							<td><a href="https://uk.wikipedia.org/wiki/Apache_License" title="Apache License — ліцензія на вільне програмне забезпечення Apache Software Foundation.
								">Apache License 2.0</a></td>
						</tr>
						<tr>
							<th><a href="https://uk.wikipedia.org/wiki/%D0%92%D0%B5%D0%B1%D1%81%D0%B0%D0%B9%D1%82"
									title="Вебса́йт або сайт — сукупність вебсторінок та залежного вмісту, доступних у мережі Інтернет, які об'єднані як за змістом, так і за навігацією під єдиним доменним ім'ям. Фізично сайт може розміщуватися як на одному, так і на кількох серверах.">Вебсайт</a>
							</th>
							<td><a href="https://dotnet.microsoft.com/apps/aspnet">dotnet.microsoft.com/apps/aspnet</a>
							</td>
						</tr>
					</table>
					<table>
						<caption>ASP.NET</caption>
						<colgroup>
							<col>
							<col>
						</colgroup>
						<tr>
							<td><a href="https://uk.wikipedia.org/wiki/%D0%A0%D0%BE%D0%B7%D1%88%D0%B8%D1%80%D0%B5%D0%BD%D0%BD%D1%8F_%D1%84%D0%B0%D0%B9%D0%BB%D1%83"
									title="Розширення назви файлу — послідовність символів, що додаються до назви файлу і призначені для ідентифікації типу (формату) файлу. Це один з розповсюджених способів, за допомогою яких користувач або програмне забезпечення комп'ютера може визначити тип даних, що зберігаються у файлі. Для деяких операційних систем — це обов'язкова вимога, для інших (UNIX) — необов'язкова.
								">Розширення файлу:</a></td>
							<td><code><code>.aspx</code>, <code>.cshtml</code>, <code>.vbhtml</code></code></td>
						</tr>
						<tr>
							<td><a href="https://uk.wikipedia.org/wiki/MIME" title="Багатоцільові розши́рення для інтерне́т-по́шти — Інтернет-стандарт, який розширює формат електронної пошти, додаючи підтримку:
								текстових повідомлень в національних кодуваннях, в яких використовуються ASCII символи;
								використання національних символів в інформаційних заголовках;
								не текстових вкладень, як то: зображення, відео або інші файли;
								передачу повідомлення, що складається з декількох частин.">MIME</a>-тип:</td>
							<td><code>text/html</code></td>
						</tr>
						<tr>
							<td>Розробник:</td>
							<td><a href="https://uk.wikipedia.org/wiki/Microsoft" title="Корпорація Майкрософт  — багатонаціональна корпорація комп'ютерних технологій зі 124 тис. працівників у 102 країнах, є найбільшою у світі компанією — виробником програмного забезпечення. Головний офіс розташований у корпоративному кампусі в Редмонді, штат Вашингтон.
								">Microsoft</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="subgrid-content">
				<h2 id="Історія ASP.NET">Історія ASP.NET</h2>
				<hr>
				<p>Після випуску сервера Internet Information Services 4.0 в 1997 році, компанія Microsoft почала
					досліджувати можливість нової моделі веб-застосунків, яка задовольнить скарги на ASP, особливо
					пов'язані з відділенням оформлення від змісту, і яка дозволить писати «чистий» код. Робота з
					розробки такої моделі була доручена Марку Андерсу, менеджеру команди IIS, і Скотту Гутрі, що прийшов
					на роботу в Microsoft в 1997. Андерс і Гутрі розробили початковий проект протягом двох місяців, і
					Гутрі написав код первісного прототипу під час різдвяних канікул 1997 року. </p>
				<p>Початковий проект називався «XSP»; Гутрі пояснив в інтерв'ю 2007 року що, «завжди запитують, що
					означає буква X. У той час вона нічого не значила. XML починається з неї; XSLT починається з неї.
					Все кльове починається з X, тому ми його так і назвали.» Прототип XSP був написаний на Java, але
					скоро було вирішено побудувати нову платформу на основі Common Language Runtime (CLR), бо на
					платформу Java у компанії Microsoft закінчувалась ліцензія. Гутрі описав це рішення як «величезний
					ризик», тому що успіх нової розробки був пов'язаний з успіхом CLR, яка, як і XSP, перебувала на
					ранній стадії розробки. </p>
				<h2 id="Характеристики ASP.NET">Характеристики ASP.NET</h2>
				<hr>
				<p>Веб-сторінки ASP.NET, офіційно відомі як веб-форми<sup><a
						href="https://uk.wikipedia.org/wiki/ASP.NET#cite_note-2"
						title="Paul D. Sheriff (November 2001). Introduction to ASP.NET and Web Forms">[2]</a></sup>, є
					основними елементами для розробки додатків в
					ASP.NET. Є дві основні методології веб-форм — формат веб-додатків та формат веб-сайту<sup><a
							href="https://uk.wikipedia.org/wiki/ASP.NET#cite_note-3"
							title="Web Application Projects versus Web Site Projects in Visual Studio">[3]</a></sup>.
					Веб-додатки потрібно скласти перед розгортанням, тоді як структури веб-сайтів дозволяють
					користувачеві копіювати файли безпосередньо на сервер без попередньої компіляції. Веб-форми
					містяться в файлах з розширенням «.aspx»; ці файли зазвичай містять статичну (X) HTML розмітку.
					Розмітка компонентів може включати веб-елементи керування на стороні сервера та елементи керування
					на стороні користувача, які були визначені на фреймворці веб-сторінки. Наприклад, компонент
					текстової скриньки (textbox) може бути визначений на сторінці як <code>&lt;asp: textbox
						id='myid'runat='server'></code>, перетворюючись у поле вводу html. Крім того, динамічний код,
					який працює на
					сервері, може бути розміщений на сторінці в блоці <code><% - динамічний код -%></code>, подібно до інших
					технологій веб-розробки, таких як PHP, JSP та ASP. З виходом ASP.NET Framework 2.0, Microsoft
					представила нову модель, що дозволяє використовувати статичний текст на сторінці .aspx, при
					цьому динамічний код залишається у файлі .aspx.vb, .aspx.cs або .aspx.fs (залежно від того, яка
					мова програмування використовується). </p>
				<h3 id="Code-behind model (код поза моделлю)">Code-behind model (код поза моделлю)</h3>
				<p>Корпорація Майкрософт рекомендує використовувати в динамічному коді програми code-behind model, яка
					розміщує цей код у окремому файлі або в спеціально позначеному тегу. Файли коду, як правило, мають
					імена типу «MyPage.aspx.cs» або «MyPage.aspx.vb», а файл сторінки — MyPage.aspx (таке ж ім'я, як і у
					файла сторінки (ASPX), але з розширенням, що визначає сторінку мови). Ця практика використовується у
					Visual Studio та інших IDE. Також, у форматі веб-додатків, pagename.aspx.cs є частковим класом, який
					пов'язаний з файлом pagename.designer.cs. Файл дизайнера — це файл, який автоматично створюється з
					ASPX-сторінки, і дозволяє розробнику посилатись на компоненти сторінки ASPX зі сторінки CS без
					необхідності їх оголошувати вручну, як це було в попередніх версіях ASP.NET<sup><a href="https://uk.wikipedia.org/wiki/ASP.NET#cite_note-4" title="aspx.designer.cs how does it work?. September 10, 2015.">[4]</a></sup>. Використовуючи цей
					стиль програмування, розробник пише код, що відповідає на різні події, такі як завантаження сторінки
					або натискання елемента керування, а не лише на процедурний перегляд документа. </p>
				<p>Code-behind model ASP.NET відрізняється від класичного ASP, оскільки він заохочує розробників
					створювати додатки, відокремлюючи презентацію та зміст. Теоретично, це дозволить веб-дизайнерам,
					наприклад, зосередити більше уваги на розмітці дизайну, звертаючи менше уваги на порушення
					програмного коду, який його запускає. Це схоже на відокремлення контролера від представлення в
					рамках model–view–controller (MVC). </p>
				<h3 id="Директиви">Директиви</h3>
				<p>Директива є спеціальною інструкцією про те, як ASP.NET повинен обробляти сторінку<sup><a href="https://uk.wikipedia.org/wiki/ASP.NET#cite_note-5" title="ASP.NET Web Forms Page Syntax Overview. November 22, 2010.">[5]</a></sup>. Найпоширенішою
					директивою є <code><% @ Page%></code>, яка може містити багато атрибутів, що використовуються аналізатором та
					компілятором сторінки ASP.NET.</p>
				<pre>
					<span class="code1">&lt;!-- Web.Config CFile --></span>
	                <span class="code2">    &lt;configuration></span>
	                <span class="code2">        &lt;system.web></span>
	                <span class="code2">            &lt;customErrors <span class="code3">mode=</span><span class="code4">"on"</span>/></span>
	                <span class="code2">        &lt;/system.web></span>
	                <span class="code2">    &lt;/configuration></span>
	            </pre>
				<h3 id="Користувацький елемент керування">Користувацький елемент керування</h3>
				<p>Користувацький елемент керування — це свого роду складний елемент керування, який працює так само, як
					веб-сторінка ASP.NET. Ви можете додати існуючі елементи керування веб-сервером та розмітку до
					користувацького елементу керування, а також визначати властивості та методи керування. Дані елементи
					керування походять від класу System.Web.UI.UserControl. Користувацьким елементам керування властиві
					такі характеристики: </p>
				<p>1) мають розширення .ascx. </p>
				<p>2) не можуть містити тегів &lt;html>, &lt;body> або &lt;form>. </p>
				<p>3) мають директиву Control замість Page.</p>
				<h3 id="Спеціальні елементи керування">Спеціальні елементи керування</h3>
				<p>Програмісти також можуть створювати спеціальні елементи керування для додатків ASP.NET. На відміну
					від користувацьких елементів керування, ці елементи керування не мають файлу розмітки ASCX. Їхні
					коди компілюються в файл динамічної бібліотеки посилань (DLL). Такі елементи керування можуть
					використовуватися в кількох веб-додатках та проектах Visual Studio 2013. </p>
				<h3 id="Техніка рендерингу">Техніка рендерингу</h3>
				<p>.NET використовує технологію рендерингу «відвіданих композитів» («visited composited»). Під час
					компіляції файл шаблону (.aspx) складається в код ініціалізації, який створює дерево керування
					(композит), що представляє вихідний шаблон. Літерний текст переходить в екземпляри класу Literal
					control, а елементи керування сервером в екземпляри специфічного класу керування. Код ініціалізації
					поєднується з кодом, написаним користувачем (зазвичай шляхом збірки декількох часткових класів), і
					переходить до специфічного класу сторінки. </p>
				<p>Фактичні запити на сторінку обробляються у кілька кроків. По-перше, під час ініціалізації створюється
					екземпляр класу сторінки та виконується код ініціалізації. Це створює початкове дерево керування,
					яке маніпулюється методами сторінки в наступних кроках. Оскільки кожен вузол у дереві являє собою
					елемент керування, представлений як екземпляр класу, код може змінювати структуру дерева, а також
					маніпулювати властивостями / методами окремих вузлів. Нарешті, під час етапу візуалізації користувач
					(відвідувач) має відвідати кожен вузол у дереві, вимагаючи, щоб кожен вузол сам використовував
					методи відвідувача. Вихідний HTML надсилається клієнту. </p>
				<p>Після того, як запит було оброблено, екземпляр класу сторінки відкидається, а разом з ним і все
					дерево керування. Це викликає труднощі у програмістів-початківців ASP.NET, які звертаються до членів
					екземпляру класу, які відкидаються з кожним циклом запиту / відповіді сторінки. </p>
				<h2 id="Принципи ASP.NET">Принципи ASP.NET</h2>
				<hr>
				<p>Хоча ASP.NET бере свою назву від старої технології Microsoft ASP, вона значно від неї відрізняється.
					Microsoft повністю перебудувала ASP.NET, ґрунтуючись на <a href="https://uk.wikipedia.org/wiki/Common_Language_Runtime" title="Common Language Runtime, скорочено CLR — «загальномовне виконуюче середовище» — це компонент пакету Microsoft .NET Framework, віртуальна машина, на якій виконуються всі мови платформи .NET Framework.
					">Common Language Runtime (CLR)</a>, який є
					основою всіх <a href="https://uk.wikipedia.org/wiki/%D0%97%D0%B0%D1%81%D1%82%D0%BE%D1%81%D1%83%D0%BD%D0%BE%D0%BA" title="Застосу́нок — користувацька комп'ютерна програма, що дає змогу вирішувати конкретні прикладні задачі користувача. Поняття введено, щоб підкреслити відмінність від операційної системи, драйверів, бібліотек, системних утиліт тощо та засобів і середовищ розробки.
					">застосунків</a> Microsoft .NET. Розробники можуть писати код для ASP.NET, використовуючи
					практично будь-які мови програмування, що входять у комплект .NET Framework (C#, Visual Basic.NET, і
					JScript.NET). ASP.NET має перевагу у швидкості в порівнянні зі скриптовими технологіями, тому що при
					першому зверненні код компілюється і поміщається в спеціальний кеш, і згодом тільки виконується, не
					вимагаючи витрат часу на парсинг, оптимізацію, і т. д. </p>
				<h2 id="Переваги ASP.NET">Переваги ASP.NET</h2>
				<hr>
				<ul>
					<li>ASP.NET має перевагу у швидкості в порівнянні з іншими технологіями, заснованими на <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D0%B2%D0%B0_%D0%BC%D0%BE%D0%B2%D0%B0" title="Скриптова мова — мова програмування, розроблена для запису «сценаріїв», послідовностей операцій, які користувач може виконувати на комп'ютері. Прості скриптові мови раніше часто називали мовами пакетної обробки. Сценарії зазвичай інтерпретуються, а не компілюються.
						">скриптах</a>
						(PHP, тощо)</li>
					<li>Розширюваний набір елементів управління і бібліотек класів дозволяє швидше розробляти застосунки
					</li>
					<li>ASP.NET спирається на багатомовні можливості .NET, що дозволяє писати код сторінок на C#, VB,
						C/C++ та ін.</li>
					<li>Поділ візуальної частини та бізнес-логіки</li>
					<li>Розширювана модель обробки запитів</li>
				</ul>
				<h3 id="Розширення">Розширення</h3>
				<ul>
					<li>ASP.NET <a href="https://uk.wikipedia.org/wiki/MVC" title="Моде́ль–вигляд–контро́лер — архітектурний шаблон, який використовується під час проектування та розробки програмного забезпечення.
						">MVC</a></li>
				</ul>
				<h2 id="Див. також">Див. також</h2>
				<hr>
				<ul>
					<li><a href="https://uk.wikipedia.org/wiki/%D0%86%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BC%D0%B5%D0%BD%D1%82_%D0%B0%D0%B4%D0%BC%D1%96%D0%BD%D1%96%D1%81%D1%82%D1%80%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F_%D0%B2%D0%B5%D0%B1-%D1%81%D0%B0%D0%B9%D1%82%D1%83_ASP.NET" title="Інструмент адміністрування веб-сайту ASP.NET це утиліта, яка постачається разом із Microsoft Visual Studio, яка допомагає конфігурувати та керувати веб-сайтом, створеним за допомогою Microsoft Visual Studio 2005 та пізнішими версіями.
						">Інструмент адміністрування веб-сайту ASP.NET</a></li>
				</ul>
				<h2 id="Примітки">Примітки</h2>
				<hr>
				<ol>
					<li><a href="https://blogs.msdn.microsoft.com/dotnet/2017/10/17/announcing-the-net-framework-4-7-1/">↑ Announcing the .NET Framework 4.7.1</a></li>
					<li><a href="https://msdn.microsoft.com/en-us/library/ms973868.aspx#introwebforms_topic1">↑</a> Paul D. Sheriff (November 2001). <a href="https://msdn.microsoft.com/en-us/library/ms973868.aspx#introwebforms_topic1">Introduction to ASP.NET and Web Forms</a>.</li>
					<li><a href="https://msdn.microsoft.com/en-us/library/dd547590(v=vs.110).aspx">↑ Web Application Projects versus Web Site Projects in Visual Studio</a></li>
					<li><a href="https://stackoverflow.com/questions/3284710/aspx-designer-cs-how-does-it-work">↑ aspx.designer.cs how does it work?. September 10, 2015</a>.</li>
					<li><a href="https://msdn.microsoft.com/en-us/library/k33801s3.aspx">↑ ASP.NET Web Forms Page Syntax Overview. November 22, 2010</a>.</li>
				</ol>
				<h2 id="Література">Література</h2>
				<hr>
				<ul>
					<li>Мэтью Мак-Дональд, Адам Фримен, Марио Шпушта Microsoft ASP.NET 4.0 с примерами на C# 2010 для
						профессионалов, 4-е издание = Pro ASP.NET 4.0 in C# 2010, Fourth Edition. — М.: «Вильямс», 2011.
						— С. 1424. — <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%94%D0%B6%D0%B5%D1%80%D0%B5%D0%BB%D0%B0_%D0%BA%D0%BD%D0%B8%D0%B3/9785845917027">ISBN 978-5-8459-1702-7</a></li>
					<li>Даниэль Арсеновски Рефакторинг в C# и ASP.NET для профессионалов = Professional Refactoring in
						C# & ASP.NET. — М.: «Диалектика», 2009. — С. 528. — <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%94%D0%B6%D0%B5%D1%80%D0%B5%D0%BB%D0%B0_%D0%BA%D0%BD%D0%B8%D0%B3/9785845916181">ISBN 978-5-8459-1618-1</a></li>
					<li>Стивен Сандерсон ASP.NET MVC Framework с примерами на C# для профессионалов = Pro ASP.NET MVC
						Framework. — М.: «Вильямс», 2010. — С. 560. — <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%94%D0%B6%D0%B5%D1%80%D0%B5%D0%BB%D0%B0_%D0%BA%D0%BD%D0%B8%D0%B3/9785845916099">ISBN 978-5-8459-1609-9</a></li>
					<li>Роб Камерон, Дэйл Михалк ASP.NET 3.5, компоненты AJAX и серверные элементы управления для
						профессионалов = Pro ASP.NET 3.5 Server Controls with AJAX Components. — М.: «Вильямс», 2009. —
						С. 608. — <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%94%D0%B6%D0%B5%D1%80%D0%B5%D0%BB%D0%B0_%D0%BA%D0%BD%D0%B8%D0%B3/9785845914675">ISBN 978-5-8459-1467-5</a></li>
				</ul>
				<table>
					<tr>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B5%D1%86%D1%96%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0:%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%97">Категорії:</a></td>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F:%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BD%D0%B5_%D0%B7%D0%B0%D0%B1%D0%B5%D0%B7%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D1%8F_%D0%B7%D0%B0_%D0%B0%D0%BB%D1%84%D0%B0%D0%B2%D1%96%D1%82%D0%BE%D0%BC">Програмне забезпечення за алфавітом | </a></td>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F:.NET">.NET | </a></td>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F:%D0%92%D0%B5%D0%B1%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D1%83%D0%B2%D0%B0%D0%BD%D0%BD%D1%8F">Вебпрограмування | </a></td>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F:%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BD%D0%B5_%D0%B7%D0%B0%D0%B1%D0%B5%D0%B7%D0%BF%D0%B5%D1%87%D0%B5%D0%BD%D0%BD%D1%8F,_%D1%89%D0%BE_%D0%B2%D0%B8%D0%BA%D0%BE%D1%80%D0%B8%D1%81%D1%82%D0%BE%D0%B2%D1%83%D1%94_%D0%BB%D1%96%D1%86%D0%B5%D0%BD%D0%B7%D1%96%D1%8E_Apache">Програмне забезпечення, що використовує ліцензію Apache | </a></td>
						<td><a href="https://uk.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D1%96%D1%8F:%D0%A1%D1%82%D0%B0%D1%82%D1%82%D1%96_%D0%B7_%D0%BF%D1%80%D0%B8%D0%BA%D0%BB%D0%B0%D0%B4%D0%B0%D0%BC%D0%B8_%D0%BA%D0%BE%D0%B4%D1%83_%D0%BC%D0%BE%D0%B2%D0%BE%D1%8E_XML">Статті з прикладами коду мовою XML</a></td>
					</tr>
				</table>
			</div>
			</div>
			</div>
		</main>
		<!-- Main end -->
		</main>
		<!-- Footer start -->
		<footer>
			<div class="subgrid">
				<div class="col1">
					<p>Цю сторінку востаннє відредаговано о 19:36, 27 серпня 2020.</p>
					<p>Текст доступний на умовах ліцензії <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a>; також можуть діяти
						додаткові умови. Детальніше див. <a href="https://foundation.wikimedia.org/wiki/%D0%A3%D0%BC%D0%BE%D0%B2%D0%B8_%D0%B2%D0%B8%D0%BA%D0%BE%D1%80%D0%B8%D1%81%D1%82%D0%B0%D0%BD%D0%BD%D1%8F">Умови використання</a>.</p>
					<menu>
						<li><a href="https://foundation.wikimedia.org/wiki/Privacy_policy">Політика конфіденційності</a></li>
						<li><a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F:%D0%9F%D1%80%D0%BE">Про Вікіпедію</a></li>
						<li><a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F:%D0%92%D1%96%D0%B4%D0%BC%D0%BE%D0%B2%D0%B0_%D0%B2%D1%96%D0%B4_%D0%B2%D1%96%D0%B4%D0%BF%D0%BE%D0%B2%D1%96%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%96">Відмова від відповідальності</a></li>
						<li><a href="https://uk.wikipedia.org/wiki/%D0%92%D1%96%D0%BA%D1%96%D0%BF%D0%B5%D0%B4%D1%96%D1%8F:%D0%97%D0%B2%D0%BE%D1%80%D0%BE%D1%82%D0%BD%D0%B8%D0%B9_%D0%B7%D0%B2%27%D1%8F%D0%B7%D0%BE%D0%BA">Зворотний зв'язок</a></li>
						<li><a href="https://uk.m.wikipedia.org/w/index.php?title=ASP.NET&mobileaction=toggle_view_mobile">Мобільний вигляд</a></li>
						<li><a href="https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute">Розробники</a href="https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute"></li>
						<li><a href="https://stats.wikimedia.org/#/uk.wikipedia.org">Куки</a></li>
						<li><a href="https://foundation.wikimedia.org/wiki/Cookie_statement">Статистика</a></li>
					</menu>
				</div>
				<div class="col2">
					<ul class="copyrightsicon">
						<li><a href="https://wikimediafoundation.org/"><img src="img/wikimedia-button.png"
									alt="Wikimedia Foundation" loading="lazy" width="88" height="31"></a></li>
						<li><a href="https://www.mediawiki.org/"><img src="img/poweredby_mediawiki_88x31.png"
									alt="Powered by MediaWiki" loading="lazy" width="88" height="31"></a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- Footer end -->
	</section>
</body>

</html>